$font-stack: "Hero new", sans-serif;
$background-color: hsl(0, 0%, 5%);
$primary-color: hsl(333, 93%, 46%);
$secondary-color: hsl(276, 91%, 38%);
$tertiary-color: hsl(194, 85%, 62%);
$button-color: hsl(212, 84%, 61%);
$white: hsl(0, 0%, 95%);
$gradient: linear-gradient(
	60deg,
	rgba(76, 201, 240, 1) 16%,
	rgba(86, 11, 173, 1) 52%,
	rgba(247, 37, 133, 1) 84%
);
