<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head.ejs') %>
		<script src="/js/app.js" type="module" defer></script>
	</head>
	<body>
		<header>
			<h1>Voeg je club toe en laat je publiek bepalen</h1>
		</header>
		<main></main>
	</body>
</html>
