<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head.ejs') %>
		<script src="/js/app.js" type="module" defer></script>
	</head>
	<body>
		<header>
			<h1>Voeg je club toe en laat je publiek bepalen</h1>
		</header>
		<main>
			<h2>Gemakkelijk je club toevoegen</h2>
			<form action="/admin/create-club" method="post">
				<label for="clubName">Wat is de naam van uw club?</label>
				<input type="text" name="clubName" id="clubName" />
				<label for="clubCity">Waar is uw club gevestigd?</label>
				<input type="text" name="clubcity" id="clubCity" />
				<label for="requestLimit">Hoeveel aanvragen wilt u toestaan?</label>
				<input type="number" name="requests" id="requestLimit" /> per uur.
				<button>toevoegen</button>
			</form>
			<button class="mongoose">CLikcme</button>
		</main>
	</body>
</html>
