<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<header></header>
		<main>
			<h1>ParQ, Vraag je favoriete nummer aan bij de DJ</h1>
		</main>
		<footer></footer>
	</body>
</html>
