<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head.ejs') %>
		<script></script>
	</head>
	<body>
		<header>
			<h1>Welkom bij BeeJ!</h1>
			<h2>De manier om jouw club nog leuker te maken</h2>
		</header>
		<main>
			<h4>Wil je je club toevoegen, maak je account aan.</h4>
			<a href="/signup">Aanmelden voor Beej</a>
			<a href="/login">Al een account? Log hier in</a>
			<form action="/join" method="post">
				<label for="room">HOe heet je club</label>
				<input type="text" name="room" id="room" placeholder="Panterhuis" />
				<button>Join club</button>
			</form>
			<h2>Wat is Beej?</h2>
			<p>
				BeeJ is een app die het mogelijk maakt om de feestgangers in de club aan
				het roer te zetten. Via deze app kunnen ze gemakkelijk een nummertje
				aanvragen zonder dat de DJ hiervoor continu lastiggevallen hoeft te
				worden. Maak een tijdslot aan en laat je publiek kiezen.
			</p>
		</main>
		<footer></footer>
	</body>
</html>
