<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head.ejs') %>
	</head>
	<body>
		<header></header>
		<main>
			<h1>ParQ, Vraag je favoriete nummer aan bij de DJ</h1>
			<a href="/create-room">Voeg je club toe</a>
			<form action="/room" method="post">
				<label for="roomId">Zoek je club</label>
				<input type="text" id="roomId" name="roomId" />
				<button>Zoek club</button>
			</form>
		</main>
		<footer></footer>
	</body>
</html>
