<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head.ejs') %>
	</head>
	<body>
		<h1>Schrijf je club in</h1>
		<form action="/signup" method="post" class="club">
			<div>
				<label for="username">Username</label>
				<input
					type="text"
					id="username"
					name="username"
					autocomplete="username"
					required
					autofocus
				/>
			</div>
			<div>
				<label for="current-password">Password</label>
				<input
					type="password"
					id="current-password"
					autocomplete="current-password"
					name="password"
				/>
			</div>
			<button>Sign up</button>
		</form>
	</body>
</html>
